
input[type="text"]:valid {
    border: 1px solid green;

}
input[type="password"]:valid {
    border: 1px solid green;
}
input[type="email"]:valid {
    border: 1px solid green;
}

input[type="text"]:invalid {
    border: 1px solid red;

}
input[type="password"]:invalid {
    border: 1px solid red;
}
input[type="email"]:invalid {
    border: 1px solid red;
}
